---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Link from "../Link.astro";
---

<header class="lg:flex p-5 shadow gap-5 mb-2">
  <Astronav>
    <div class="flex w-full justify-between">
      <Link href="/" className="font-bold">Config.Tips</Link>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-zinc-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <Link href="/about">About</Link>
        </li>
        <li>
          <Link href="https://github.com/CircleCI-Public">Contribute</Link>
        </li>
        <li>
          <Link href="https://circleci.com/">Continuous Integration</Link>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
