---
import Icon from "astro-icon";
import { Astronav, MenuIcon,MenuItems } from "astro-navbar";

import Link from "../Link.astro";

const navLinks = [
  { href: "/about", text: "About" },
  { href: "/c/", text: "Explore" },
  { href: "https://github.com/CircleCI-Public/Config.Tips", text: "Contribute" },
  { href: "https://circleci.com/", text: "Continuous Integration" },
];
const hoverLinkStyle = "hover:text-indigo-300 transition-colors duration-200";
---

<header class="lg:flex px-5 shadow gap-5 mb-2">
  <Astronav>
    <div class="flex w-full justify-between py-4">
      <Link href="/" className={`font-bold flex items-center ${hoverLinkStyle}`}>
        <Icon name="logo" class="w-6 h-6 mr-2" />
        <span>Config.Tips</span>
      </Link>
      <div class="flex justify-center lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-500" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row gap-y-4 gap-x-4 mb-2">
       {navLinks.map(link => (
        <li class="flex items-center whitespace-nowrap">
          <Link href={link.href} className={hoverLinkStyle}>{link.text}</Link>
        </li>
        ))}
      </ul>
    </MenuItems>
  </Astronav>
</header>
