---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Config.Tips - Home" slug="/">
		<header class="flex md: flex-row gap-6">
			<section>
				<h1>Config.Tips</h1>
				<p>An open-source collection of useful snippets and tips for your favorite developer configs.</p>
			</section>
			<section>
				<p>img</p>
			</section>
		</header>
		<section>
		</section>
</Layout>

