--- 
import HeadBase from '../components/Head/HeadBase.astro';
interface Props {
	title: string;
	slug: string;
	description: string
}

const { 
	title = "Config.Tips",
	description = "Simple sharable config tips for developers.",
	slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<HeadBase title={title} slug={new URL(slug, Astro.site).pathname} description={description} />
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*, *:before, *:after {
		margin: 0;
    padding: 0;
		box-sizing: border-box;
	}
	html, body {
		box-sizing: border-box;
    min-height: 100vh;
		height: 100%;
	}
</style>

