--- 
import HeadBase from '../components/Head/HeadBase.astro';
import NavBar from '../components/Navigation/NavBar.astro';

// Supports weights 100-900
import '@fontsource-variable/inter';
interface Props {
	title: string;
	slug: string;
	description?: string
}

const { 
	title = "Config.Tips",
	description = "Simple sharable config tips for developers.",
	slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<HeadBase title={title} slug={new URL(slug, Astro.site).pathname} description={description} />
	<body class="flex flex-col">
		<NavBar />
		<main class="px-4 md:px-12 mx-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	*, *:before, *:after {
		margin: 0;
    padding: 0;
		box-sizing: border-box;
	}
	html, body {
		box-sizing: border-box;
    min-height: 100vh;
		height: 100%;
		font-family: 'Inter Variable', sans-serif;
	}

	body {
		@apply bg-zinc-900 text-zinc-50;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply p-2 text-white font-bold;
	}
</style>

