---
import Link from "../Link.astro";
type Props = {
  href: string;
  className?: string;
}
const {href, className} = Astro.props
const baseStyles = "shadow bg-zinc-800 border border-zinc-700 rounded p-2"
const cardStyles = baseStyles + ' ' + (className || '')
---

<div class={cardStyles}>
  <Link href={href} className="flex w-full">
    <slot />
  </Link>
</div>